<server description="Social Login Guide Server">
    <featureManager>
        <feature>jsp-2.3</feature>
    </featureManager>
    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" host="*" />

    <webApplication location="guide-social-login.war" contextRoot="${app.context.root}"/>
</server>
