<server description="Social Login Guide Server">
    <!-- tag::featureManager[] -->
    <featureManager>
        <feature>jsp-2.3</feature>
        <!-- tag::newFeatures[] -->
        <feature>appSecurity-3.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>socialLogin-1.0</feature>
        <feature>jaxrsClient-2.1</feature>
        <!-- end::newFeatures[] -->
    </featureManager>
    <!-- end::featureManager[] -->

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" host="localhost" />

    <!-- Set up default key store, trust stores for auth APIs -->
    <!-- tag::keystore[] -->
    <keyStore id="defaultKeyStore"
              password="changeit" />
    <!-- end::keystore[] -->

    <!-- SSL configuration for auth services -->
    <!-- tag::sslConfig[] -->
    <ssl id="defaultSSLConfig"
	     keyStoreRef="defaultKeyStore"
         trustDefaultCerts="true" />
    <!-- end::sslConfig[] -->

    <!-- Social Login Configuration -->
    <!-- Github Login -->
    <!-- tag::githubLogin[] -->
    <githubLogin clientId="{client-id}"
                 clientSecret="{client-secret}" />
    <!-- end::githubLogin[] -->

    <!-- tag::webApplication[] -->
    <webApplication location="guide-social-login.war"
                    contextRoot="${app.context.root}">
        <!-- tag::applicationBnd[] -->
        <application-bnd>
            <!-- tag::users[] -->
            <security-role name="users">
                <special-subject type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
            <!-- end::users[] -->
        </application-bnd>
        <!-- end::applicationBnd[] -->
    </webApplication>
    <!-- end::webApplication[] -->

</server>
